<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="videoContainer" style="width: 400px; margin: 0 auto;" class="video-container">
        <div id="board" style="width: 100%;"></div>
        <div id="controls" style="display: flex; justify-content: center; margin-top: 10px;" class="controls">
          <button id="rewindBtn" class="controlBtn">⏪</button>
          <button id="playBtn" class="controlBtn">▶️</button>
          <button id="pauseBtn" class="controlBtn">⏸️</button>
          <button id="nextBtn" class="controlBtn">⏩</button>
        </div>
      </div>
      
</body>
</html>