<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="contanior">
      <div class="home-page">
        <h1>Welcome to Chess.com</h1>
        <p>
          At Chess.com, you can join rooms and play chess with other users. You
          also have the option to challenge our AI for a game or watch others
          play live. Enjoy a variety of game modes and improve your skills by
          competing with players from around the world.
        </p>
        <p>
          Whether you're a beginner or a seasoned pro, Chess.com offers a
          platform to hone your strategy, learn new tactics, and have fun. Join
          us today and start your chess journey!
        </p>
      </div>
    </div>
  </body>
</html>
