<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header class="main-content__header">
    <h1>You Are Currently Watching A Live Game</h1>
    
      
  </header>
  <main>
    <header class="main-content__header" >
      <h1 id="user-greeting-information">Enjoy Watching The Game Audience</h1>  
      <button id="show-players-btn">Show Who's Playing</button>
</header>
<div id="playerModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="player-vs-player-container"></div>
  </div>
</div>
    <div id="board" class="board"></div>
    
    </main>

</body>
</html>