<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <div class="container">
      <h2>Signup Here</h2>
      <form id="signup-form" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" id="username" />
        <label for="password">Password:</label>
        <input type="password" id="password" />
        <label for="email">Email:</label>
        <input type="text" id="email" />
        <label for="photo">Select a Picture</label>
        <input
          type="file"
          id="photo"
          name="photo"
          accept="image/*"
          class="file-name"
        />
        <img
          id="image-preview"
          alt="Image Preview"
          class="image-preview"
          src="./assets/image/user.png"
        />
        <button type="submit">Signup</button>
      </form>
      <p>Already have an account? <a href="#/login">Go To Login</a></p>
    </div>
  </body>
</html>
