<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> 
    <header class="main-content__header">
      <h1>Welcome to Chess.com</h1>
      <nav>
        <div class="dropdown">
          <span class="dropdown-title">Manage Your Account</span>
          <button class="dropdown-toggle">▼</button>
          <div class="dropdown-menu">
              <a href="#" id="logout">Logout</a>
              <a href="#" id="change-details">Change Details</a>
          </div>
      </div>
      <div class="dropdown">
        <span class="dropdown-title">Play Now</span>
        <button class="dropdown-toggle">▼</button>
        <div class="dropdown-menu dropdown">
            <a href="#" id="play-offline" class="dropdown-title">Play Offline</a>
            <a id="play-online" class="dropdown-title">Play Online</a>
        </div>
    </div>
      
      </nav>
    </header>
    <main class="main-content">
      <div id="game-history-container"></div>
     <!-- Add these controls where you want the pagination to appear -->
     <div class="pagination-container">
      <button id="previous-page" class="pagination-button" aria-label="Previous Page">Previous</button>
      <span id="page-info" class="page-info">Page 1</span>
      <button id="next-page" class="pagination-button" aria-label="Next Page">Next</button>
    </div>
    

    </main>

    
  </body>
</html>
