<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- views/welcome.html -->
    <aside>
      <button id="play-online">Play Online</button>
      <button id="play-offline">Play Offline</button>
      <button id="view-profile">View Profile</button>
    </aside>
    <div id="profile-details"></div>
    <div id="game-details"></div>
  </body>
</html>
