.footer {
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0; 
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}
  
  .footer p {
    margin: 0;
  }
  