.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 50px;
  }
  
  
  .pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }
  
  .pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  
  .page-info {
    margin: 0 15px;
    font-size: 16px;
  }