@import "../components/button";
@import "../components/anchor";
@import "../components/form";
@import "../components/label";
@import "../components/header";
@import "../components/modal";
@import "../components/body";
@import "../components/containor";
@import "../components/footer";
h1 {
  color: #003366;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #444;
}
